.page-container {
  width: 90%;
  margin: 0 auto;
}

.headerText {
  transform: rotate(-4deg);
  padding-bottom: 3rem;
}

.yellowLink {
  color: rgb(255, 193, 7);
  text-decoration: none;
  &:hover {
    color: rgb(212, 161, 7);
  }
}
