.page-container {
    width: 90%;
    margin: 0 auto;
}

.full-page-container {
    margin: 0;
    height: 55vh;
}

.intro-container {
    padding: 20px 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.intro-heading {
    padding: 0 10px;
    text-align: center;
}

.intro-pic-text {
    width: 300px;
    vertical-align: bottom;
}

.react-card-flipper {
    padding: 10px;
}

.cards-container {
    width: 100%;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.intro-cards-container {
    width: 100%;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    text-decoration: none;
    list-style-type: none;
    margin-top: -50px;
}

.card-items {
    height: 350px;
    width: 350px;
    background-color: tomato;
    margin: 8px;
    border-radius: 5%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.6);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.06));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.06));
}
    .card-items:hover {
        cursor: pointer;
    }

.dgry {
    background-color: #343a40;
    color: #ffdd17;
}

.yllw {
    background-color: #ffdd17;
    color: black;
}

.lgry {
    background-color: #a7a9ab;
    color: black;
}

.wht {
    background-color: antiquewhite;
    color: #ffdd17;
}

.card-fig {
    padding: 10px;
    position: relative;
    color: inherit;
}

    .card-fig::after {
        content: attr(data-category);
        position: absolute;
        bottom: 0;
        margin-left: 20px;
        padding: 10px 14px;
        max-width: calc((100%) - 60px);
        font-size: 16px;
        font-weight: 900;
        color: inherit;
        background-color: inherit;
        box-sizing: border-box;
        border-radius: 5%;
    }

.card-pic {
    display: block;
    max-width: 100%;
    transition: all 0.2s linear;
    border-radius: 5%;
}

    .card-pic:hover {
        transform: scale(1.1);
    }

.back-card-pic {
    display: block;
    max-width: 100%;
    transition: all 0.2s linear;
    border-radius: 5%;
    opacity: 0.3;
    z-index: -1;
}

.back-card-block {
    position: relative;
}

.card-text {
    display: block;
    max-width: 100%;
    border-radius: 5%;
    color: inherit;
    position: absolute;
    top: 10%;
    width: 100%;
    font-size: 24px;
    font-weight: bolder;
    list-style-type: disc;
}

@media screen and (max-width: 960px) {
    .card-items {
        height: 420px;
        width: 420px;
    }

    .cards-container {
        width: 95%;
    }

    .intro-cards-container {
        width: 100%;
        height: auto;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        text-decoration: none;
        list-style-type: none;
        margin-top: 0;
        padding: 0px !important;
        text-align: justify;
    }

    .intro-container {
        width: 100%;
        padding: 20px 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 1260px) {
    .card-items {
        height: 400px;
        width: 400px;
    }

    .cards-container {
        width: 99%;
    }
}

@media screen and (max-width: 460px) {
    .card-items {
        height: 80vw !important;
        width: 80vw !important;
    }
}