.footer-container {
    padding-top: 10px;
    background: #343a40;
    height: auto;
    flex-direction: row;
    justify-content: center;
}

.footer-items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center
}

.footer-header {
    color: #ffdd17;
    margin-top: 5px;
}

.footer-text {
    color: white;
}

.footer-row {
    margin: 0px 0px;
}

.footer-spacing {
    margin-bottom: 1em;
}

.footer-footer {
    margin: 0 10vh;
    border-color: darkslategray;
    font-weight: bold;
    border-top: solid 1px;
    height: auto;
    text-align: right;
    padding-bottom: 5px;
}

.link-text {
    color: inherit;
}

.link-text:hover {
    color: hotpink;
}

@media screen and (max-width: 760px) {
    .footer-row {
        padding: 0 120px;
    }
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.btn-- {
    color: white;
    border: none;
    max-width: 60px;
    width: 5vw;
    min-width: 50px;
    height: 5vw;
    min-height: 50px;
    max-height: 60px;
    margin: 3px;
    border-radius: 50%;
}

.btn-f {
    background-color: #3b5998;
}

.btn-i {
    background-color: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.btn-l {
    background-color: #0976b4;
}

.btn--:hover {
    opacity: 0.5;
}

.footer-row-number {
    padding-top: 0.2rem;
}