.introCard-container {
    height: 250px;
    width: 25vw;
    padding: 20px;
    background-color: white;
    margin: 8px;
    color: black;
}

@media screen and (max-width: 960px) {
    .introCard-container {
        height: auto;
        width: 80vw;
    }
}
