.footerContainer {
  padding-top: 4vh;
  background: #343a40;
  height: auto;
  flex-direction: row;
  justify-content: center;
}

.footerItems {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.footerHeader {
  color: #ffdd17;
  margin-top: 5px;
}

.footerText {
  color: white;
}

.footerRow {
  margin: 0px 0px;
}

@media screen and (max-width: 760px) {
  .footerRow {
    width: 50%;
  }
  .order1 {
    order: 1;
  }
  .order3 {
    order: 2;
  }
  .order2 {
    order: 3;
  }
}

@media screen and (max-width: 560px) {
  .footerRow {
    width: 100%;
  }
}

.footerSpacing {
  margin-bottom: 4vh;
}

.footerFooter {
  margin: 0 10vh;
  border-color: darkslategray;
  color: #a7a9ac;
  border-top: solid 1px;
  height: auto;
  text-align: right;
  padding-bottom: 5px;
}

.linkText {
  color: inherit;
  &:hover {
    color: hotpink;
  }
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.btn {
  color: white;
  border: none;
  max-width: 60px;
  width: 3vw;
  min-width: 50px;
  height: 3vw;
  min-height: 50px;
  max-height: 60px;
  margin: 3px;
  border-radius: 50%;
}

.btnFacebook {
  @extend .btn;
  background-color: #3b5998;
}

.btnInsta {
  @extend .btn;
  background-color: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.btnLinkedIn {
  @extend .btn;
  background-color: #0976b4;
}

.btn--:hover {
  opacity: 0.5;
}

.footerRowNumber {
  padding-top: 0.2rem;
}
